<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4 mt-4">
            <h1 class="titulo">Resultado</h1>
            <div class="row">
                <div class="col-lg-12">
                    <div class="fondoItem">
                        <div class="contenedor">
                            <p class="resultado">{{ resultado }}</p>
                            <p class="resultadonumero">{{ bmi }}</p>
                            <p class="interpretacion">{{ interpretacion }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12">
                    <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block btn-color rounded-pill" routerLink="/">RE-CALCULAR</button>
                </div>
            </div>
        </div>
    </div>
</div>