/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    background-color: #0B0E23;
    font-family: 'Raleway', sans-serif;
}

.titulo {
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: 40px;
}

.btn-color {
    background-color: #ff3366;
    border-color: #ff3366;
}

.btn-color:hover {
    background-color: #db2c58;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contenedor.sexo {
    cursor: pointer;
}